#layouts-20230906073409 {
	background-image: url(https://vestidosonline.microweber.net/userfiles/media/default/ropa-para-mujer-y-hombre_3.jpg);
}
.edit[field="layout-skin-1-layouts-20230906073409"][rel="module"] {
	background-color: rgba(0,0,0,0.14);
	padding-top: 90px;
	padding-bottom: 100px;
}
#element_1693985500406 {
	font-size: 40px;
}
#element_1693985500400 {
	font-size: 40px;
}
#element_1693985500356 {
	font-size: 40px;
}
#btn-20230906073451 {
	margin-top: 30px;
}
#element_1693985892728 {
	text-align: center;
}
#element_1693985892952 {
	text-align: center;
}
#element_1693985892816 {
	text-align: center;
}
#element_1693985893030 {
	text-align: center;
}
#element_1693985892872 {
	text-align: center;
}
#element_1693985893115 {
	text-align: center;
}
.edit[field="layout-skin-1-layouts-20230906073927"][rel="module"] {
	padding-top: 0px;
	padding-bottom: 0px;
}
#mw-selector-1693986053365 {
	margin-bottom: 0px;
}
#element_1693985893278 {
	margin-bottom: 21px;
}
.edit[field="layout-skin-1-layouts-20230906073937"][rel="module"] {
	padding-top: 0px;
	padding-bottom: 0px;
}
.edit[field="layout-skin-1-layouts-20230906073942"][rel="module"] {
	padding-top: 0px;
	padding-bottom: 0px;
}
.edit[field="layout-skin-1-layouts-20230906073946"][rel="module"] {
	padding-top: 40px;
	padding-bottom: 60px;
}
#element_1693986151771 {
	margin-bottom: 21px;
}
#element_1693985893660 {
	font-size: 13px;
}
#element_1693986457547 {
	font-size: 12px;
}
.edit[field="layout-skin-1-layouts-20230906074837"][rel="module"] {
	padding-top: 43px;
	padding-bottom: 60px;
}
.edit[field="layout-skin-1-module-layouts-12"][rel="module"] {
	padding-top: 0px;
	padding-bottom: 0px;
}
#element_1693986457117 {
	text-align: center;
}
#element_1693986457192 {
	text-align: center;
}
#element_1693986738220 {
	text-align: center;
}
#element_1693986738458 {
	text-align: center;
}
#element_1693986738416 {
	text-align: center;
}
#element_1693986738512 {
	text-align: center;
}
#mw-selector-1693986886670 {
	text-align: center;
}
#element_1693986738615 {
	text-align: center;
}
#element_1693986738742 {
	font-size: 14px;
}
.edit[field="layout-skin-1-layouts-20230906075234"][rel="module"] {
	padding-top: 43px;
	padding-bottom: 60px;
}
.edit[field="layout-skin-1-layouts-20230906075238"][rel="module"] {
	padding-top: 0px;
	padding-bottom: 0px;
}
#element_1693986739421 {
	padding-bottom: 0px;
	margin-bottom: 10px;
}
#element_1693986739416 {
	margin-bottom: 10px;
}
.edit[field="layout-skin-1-layouts-20230906075241"][rel="module"] {
	padding-top: 0px;
	padding-bottom: 0px;
}
#element_1693986739422 {
	margin-bottom: 10px;
}
#element_1693986738910 {
	margin-bottom: 10px;
}
.edit[field="layout-skin-1-module-layouts-13"][rel="module"] {
	padding-top: 0px;
	padding-bottom: 0px;
}
#element_1693986739460 {
	margin-bottom: 10px;
}
#element_1693986738939 {
	margin-bottom: 10px;
}
#element_1693986738964 {
	margin-bottom: 21px;
}
#element_1693986739270 {
	margin-bottom: 21px;
}
#element_1693987185732 {
	text-align: center;
}
#element_1693987186002 {
	text-align: center;
}
#element_1693987186156 {
	text-align: center;
}
#element_1693987186204 {
	text-align: center;
}
#element_1693987186229 {
	font-size: 16px;
}
.edit[field="layout-skin-1-layouts-20230906075955"][rel="module"] {
	font-size: 14px;
	padding-top: 43px;
	padding-bottom: 60px;
}
#element_1693987186290 {
	font-size: 14px;
}
.edit[field="layout-skin-1-layouts-20230906080000"][rel="module"] {
	padding-top: 0px;
	padding-bottom: 0px;
}
.edit[field="layout-skin-1-module-layouts-14"][rel="module"] {
	padding-top: 0px;
	padding-bottom: 0px;
}
#element_1693987186064 {
	margin-bottom: 21px;
}
#element_1693987186493 {
	margin-bottom: 1 0;
}
#element_1693987186414 {
	margin-bottom: 10px;
}
#element_1693987186508 {
	margin-bottom: 10px;
}
#element_1693987186462 {
	margin-bottom: 10px;
}
#element_1693987729028 {
	text-align: center;
}
#element_1693987729138 {
	text-align: center;
}
#element_1693987729195 {
	margin-bottom: 21px;
}
.edit[field="layout-skin-1-module-layouts-15"][rel="module"] {
	background-color: rgba(0,0,0,0.17);
	padding-top: 90px;
	padding-bottom: 100px;
}
#module-layouts-15 {
	background-image: url(https://vestidosonline.microweber.net/userfiles/media/default/ropa-para-mujer-y-hombre_4.jpg);
}
#element_1693987728746 {
	font-size: 42px;
}
#element_1693987728842 {
	font-size: 42px;
}
#element_1693987728773 {
	font-size: 42px;
}
.edit[field="layout-skin-1-layouts-20230906081021"][rel="module"] {
	padding-top: 0px;
	padding-bottom: 0px;
}
#element_1693987729380 {
	font-size: 13px;
}
.edit[field="layout-skin-1-layouts-20230906081025"][rel="module"] {
	padding-top: 43px;
	padding-bottom: 60px;
}
#element_1693987729411 {
	margin-bottom: 10px;
}
#element_1693987729288 {
	margin-bottom: 10px;
}
.edit[field="layout-skin-1-module-layouts-16"][rel="module"] {
	background-color: rgba(0,0,0,0.19);
	padding-top: 80px;
	padding-bottom: 100px;
}
#module-layouts-16 {
	background-image: url(https://vestidosonline.microweber.net/userfiles/media/default/ropa-para-mujer-y-hombre_5.jpg);
}
#element_1693988247540 {
	font-size: 42px;
}
#element_1693988247490 {
	font-size: 42px;
}
#element_1693988247470 {
	font-size: 42px;
}
#btn-20230906081742 {
	margin-top: 30px;
}
#element_1693988248080 {
	text-align: center;
}
#element_1693988248226 {
	text-align: center;
}
#element_1693988248116 {
	text-align: center;
}
#element_1693988248273 {
	text-align: center;
}
.edit[field="layout-skin-1-layouts-20230906082050"][rel="module"] {
	padding-top: 0px;
	padding-bottom: 0px;
}
.edit[field="layout-skin-1-layouts-20230906082047"][rel="module"] {
	padding-top: 0px;
	padding-bottom: 0px;
}
#element_1693988248941 {
	font-size: 14px;
}
.edit[field="layout-skin-1-layouts-20230906082053"][rel="module"] {
	padding-top: 43px;
	padding-bottom: 60px;
}
#element_1693988248818 {
	margin-bottom: 10px;
}
#element_1693988248501 {
	margin-bottom: 10px;
}
#element_1693988248584 {
	margin-bottom: 10px;
}
#element_1693988248710 {
	margin-bottom: 10px;
}
#element_1693988248607 {
	margin-bottom: 21px;
}
.edit[field="layout-skin-1-module-layouts-17"][rel="module"] {
	padding-top: 0px;
	padding-bottom: 0px;
}
.edit[field="layout-skin-1-module-layouts-18"][rel="module"] {
	padding-top: 0px;
	padding-bottom: 0px;
}
.edit[field="layout-skin-1-module-layouts-19"][rel="module"] {
	padding-top: 0px;
	padding-bottom: 0px;
}
